<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- fully qualified name -->

	<bean id="parentTriangle" class="com.example.demo.Triangle">
		<property name="l1">
			<list>
				<ref bean="pointA"></ref>
			</list>
		</property>
	</bean>

	<bean id="triangle" class="com.example.demo.Triangle" parent="parentTriangle"
		init-method="init" destroy-method="destroy">
		<property name="l1">
			<list merge="true">
				<ref bean="pointB"></ref>
			</list>
		</property>
	</bean>


	<bean id="pointA" class="com.example.demo.Point">
		<property name="x" value="2"></property>
		<property name="y" value="12"></property>
	</bean>

	<bean id="pointB" class="com.example.demo.Point">
		<property name="x" value="3"></property>
		<property name="y" value="13"></property>
	</bean>


</beans>
